    <% category = Naturesoft::Projects::Category.where(id: params["category_id"]).first %>
    
    <div class="form-group">
      <label class="col-md-2 control-label" ><%= t(:path) %></label>
        <div class="col-md-10">
            <h6 class="mb-0 text-semibold"><%= menu.path.html_safe %></h6 >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" ><%= t(:category) %> <span class='text-danger'>*</span></label>
        <div class="col-md-10">            
            <% selected = options_for_select([[category.name, category.id]],category.id) if !category.nil? %>
            <%= select_tag("params[category_id]",
              selected,
              {
                class: "select2-ajax",
                "data-url": naturesoft_projects.select2_admin_categories_path,
                "include_blank": "none",
              }
            ) %>
        </div>
    </div>
