<li>
  <a href="#"><i class="icon-puzzle3"></i> <span>Project</span></a>
  <ul>
      <li>
        <%= link_to 'Projects', naturesoft_projects.backend_projects_path %>
      </li>
      <li>
        <%= link_to 'Categories', naturesoft_projects.backend_categories_path %>
      </li>
      <li>
        <%= link_to 'Images', naturesoft_projects.backend_images_path %>
      </li>
  </ul>
</li>